{{>top}}
{{>navbar}}
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-10 mx-auto text-center">
        <img src="images/404error.png" class="img-fluid" alt="..." height="500px" width="500px">
        <br>
        <button class="btn btn-primary btn-hover my-3 mx-auto"><a href="/" style="color:black;">GO BACK TO HOMEPAGE</a></button>
        </div>
    </div>
</div>

{{>footer}}