  {{>top}}
  {{>navbar}}
    <!-- MAIN HEADER -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="row">
                    <!-- left side -->
                    <div class="col-md-6 col-12 main_header_left">
                        <img src="images/cse2.png" class="img-fluid" alt="...">
                    </div>
                    <!-- right side -->
                    <div class="col-md-6 col-12 main_header_right  my-auto text-center">
                        <p>
                            <ul class="list-group">
                                <li class="list-group-item list-group-item-primary">
                                    <H1>Hello Guys</H1>
                                </li>
                                <li class="list-group-item list-group-item-success">
                                    <h4>
                                        Myself Naman.
                                    </h4>
                                </li>
                                <li class="list-group-item list-group-item-danger">
                                    <h4>
                                        I am currently pursuing my BTech from IIT Guwahati in Computer Science and Enginnering.
                                    </h4>
                                </li>
                                <li class="list-group-item list-group-item-warning">
                                   <h4>
                                    I am currently web Developer and have used Django,NodeJs and many more.
                                   </h4>
                                </li>
                                <li class="list-group-item list-group-item-info">
                                   <h4>
                                     Feel Free To Contact Me
                                   </h4>
                                </li>
                              </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>