{{>top}}
{{>navbar}}
<div class="container text-center text-primary">
    Email Id : anandnaman844@gmail.com
    <br>
    Location : S129 , 2nd Floor,   Brahmaputra Hostel , IIT Guwahati
    <br>
    Mobile : +91 7838702181 , +91 7838038429
</div>
{{>footer}}