{{>top}}
{{>navbar}}
<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 ma-auto text-center">
            <div class="main-content text-center">
                <form class="temp_form">
                    <input type="text" id="cityName" name="cityName" placeHolder="ENTER YOUR CITY NAME" autocomplete="off">
                    <br>
                    <a class="btn btn-primary btn-lg btn-hover my-5">
                    <input type="submit" value="Search" id="search">
                    </a>
                </form>
                <div class="tempinfo text-center">
                    <div class="card mx-auto my-3" style="width: 18rem;">
                        <div class="card-body">
                          <div class="card-title" id="dateday">
                            DATE
                            DAY
                          </div>
                          <div class="card-subtitle">
                            <p id="city_Name">
                                city = 
                            </p>
                          </div>
                          <div class="card-text">
                            <p id="temp"></p>
                            <div id="image_weather">
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{>footer}}